html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    color: #555252;
    background-color: #fff;
    line-height: 26px;
    letter-spacing: -0.02em;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.clearfix::after {
    display: table;
    contain: "";
    clear: both;
}

.page-header {
    padding: 38px 0 0 0;
    margin-bottom: 120px;
}

.site-logo {
    float: left;
    text-decoration: none;
}

.first-letter {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 900;
    color: #1abc9c;
    font-size: 30px;
    line-height: 32px;
}

.logo {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300;
    color: #555252;
    font-size: 30px;
    line-height: 32px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.site-logo a {
    display: block;
}

.site-navigation {
    width: 478px;
    float: right;
    list-style: none;
    margin: 0;
    padding: 8px 0;
}

.site-navigation-item {
    float: left;
}

.site-navigation-item a {
    display: block;
    color: #0f0101;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 11px;
}

.site-navigation-item:not(:last-child) {
    margin-right: 34px;
}

.features-title,
.news-title {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    font-size: 48px;
    line-height: 32px;
    color: #515151;
    margin-bottom: 60px;
}

.news-title {
    display: block;
}

.features-title::after,
.news-title::after {
    display: block;
    content: " ";
    width: 162px;
    height: 7px;
    background-color: #1abc9c;
    margin: 0 auto;
    margin-top: 32px;
}

.features-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.features-list-item {
    width: 255px;
    float: left;
    margin-bottom: 110px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.features-list-item:not(:nth-child(4n)),
.news-list-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.features-list-item:nth-child(-n + 4) {
    margin-bottom: 30px;
}

.product-name,
.product-price {
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
}


.product-name {
    padding: 6px 14px;
    float: left;
    text-align: left;
    width: 201px;
    height: 40px;
    background-color: #323232;
}

.product-price {
    padding: 5px 0;
    float: right;
    text-align: center;
    width: 54px;
    height: 40px;
    background-color: #8c8c8c;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #1abc9c;
}

.features-list-item:hover .product-name,
.features-list-item:focus .product-name {
    background-color: #1abc9c;
}

.features-list-item:hover .product-price,
.features-list-item:focus .product-price {
    background-color: #7fd9c7;
}

.features {
    padding-bottom: 110px;
}

.news-list-link:hover,
.news-list-link:focus {
    background-color: #1abc9c;
}

.news-list-item:hover .news-list-link,
.news-list-item:focus .news-list-link {
    background-color: #1abc9c;
}
.news-list {
    list-style: none;
    margin: 0;
    padding: 0;

}

.news-list-item {
    width: 350px;
    float: left;
}

.news-list-title {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 32px;
    color: #555252;
}

.news-list-title::after {
    display: block;
    content: " ";
    width: 136px;
    height: 4px;
    background-color: #4ec6ab;
    margin: 14px 0;
}

.news-list-content {
    margin: 0;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 14px;
}

.news-list-link {
    margin: 0;
    width: 160px;
    height: 50px;
    border: none;
    background-color: #4ec6ab;
    margin-bottom: 46px;
}

.news-list-link-content {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
    padding: 10px 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}