//Main-fonts
$Montserrat: "Montserrat", "Arial", sans-serif;
$Kaushan: "Kaushan Script", cursive;
$Roboto: "Roboto", "Arial", sans-serif;
// Main-colors
$white: #ffffff;
$yellow: #fce38a;
$pink: #f38181;
$dark-gray: #333333;
$light-gray: #999999;
$light-green: #95e1d3;